.header-nav {
    background : darkblue;
}
.header-ul {
    display: flex;
    justify-content: flex-start;
} 

.header-ul li {
    padding: 10px;
    cursor: pointer;
    color: white;
    list-style-type: none;
}