.product-main {
    padding: 10px;
}
.card {
    margin: 10px;
    padding: 10px;
    width: 250px;
    height: 250px;
    box-shadow: 5px 5px 10px #ccc;
}
.card:hover {
    
    box-shadow: 10px 10px 20px #ccc;

}

.card > img {
    align-items: center;
    margin: 5px;
    width: 90%;
    height: 50%;
    border-radius: 5px;
}

.card > h4 {
    margin: 5PX;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}